<% content_for :jumbotron do %>
	<h1>MotorCycles Index</h1>
<% end %>

<hr />
<table class="table table-inverse">
	<thead>
	  <tr class="bg-primary">
	    <th>#</th>
	    <td>Name</td>
	    <td>Velocity</td>
	    <td>Max Capacity</td>
	    <td><center>Action</center></td>
	  </tr>
	</thead>
	<tbody>
		<% @motor_cycles.each do |motor| %>
			<tr>
				<th scope="row"><%= motor.id %></th>
				<td><%= link_to motor.name, motor%></td>
				<td><%= motor.velocity %></td>
				<td><%= motor.max_capacity_fuel %></td>
				<td><center>
					<%= button_to 'Destroy', motor, 
					method: :delete,
					class: 'btn btn-default',
				  data: { confirm: 'Are you sure?' } %>  	
			  </center></td>
			</tr>
		<% end %>
	</tbody>
</table>

<br /><br />
<h4><%= link_to "Create a new motorcycle", new_motor_cycle_path, class: 'btn btn-default' %></h4>
<br /><br />
