<% content_for :jumbotron do %>
	<h1>Person Details</h1>
<% end %>
<hr class="light">
<p class="text-faded">
	<div class="table-responsive">
		<table class="table table-striped table-inverse">
			<thead>
		    <tr>
		      <th width="10%" class="bg-primary">ID</th>
		      <td width="30%"><%= @person.id %></td>
		    </tr>
	    </thead>
			<tr>
				<th width="10%" class="bg-primary">Name</th>
				<td><%= @person.name %></td>
			</tr>
			<tr>
				<th width="10%" class="bg-primary">Age</th>
				<td><%= @person.age %></td>
			</tr>
			<tr>
				<th width="10%" class="bg-primary">Money</th>
				<td><%= @person.money %></td>
			</tr>
			<tr>
				<th width="10%" class="bg-primary" colpsan="2">Garage</th>
			</tr>
			<tr>
				<td colspan="2"><%= @person.garage %></td>
			</tr>
		</table>
	</div>
	<%= link_to 'Add', new_person_garage_path(person_id: @person.id), class: "btn bnt-default" %>
</p>