<!DOCTYPE html>
<html lang="en">
  <head>
    <title>People</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %> 
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><%= link_to 'Homepage', root_path %></li>
            <li><%= link_to 'Index', people_path %></li>
            <li><%= link_to 'New', new_person_path %></li>
          </ul>
        </div>
      </div>
    </nav>


    <header>
      <div class="jumbotron">
          <div class="container">
            <h1>
              <center>
                <%= link_to_unless current_page?(people_path), 'People', people_path %>
              </center>
            </h1>
            <hr>
          </div>
        </div>
    </header>

      <content>
        <div class="container">
          <%= yield %>
        </div>
      </content>

      <footer class="footer" style="background-color:#414141; color:#efefef; text-align:right; padding-top:25px; padding-bottom:25px;">
        <div class="container">
          <address>
          <strong>Selvi Pebrina <span class="glyphicon glyphicon-user" aria-hidden="true"></span></strong><br />
             Jakarta, Indonesia <span class="glyphicon glyphicon-home" aria-hidden="true"></span><br />
             (123) 456-7890 <span class="glyphicon glyphicon-phone" aria-hidden="true"></span><br />
            <a href="mailto:#">selvipebrina@gmail.com </a><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
          </address>
        </div>
      </footer>
  </body>

</html>